body {
    background-color: #1a191c;
    color: white;
    text-align: center;
}
.choices {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.choices:hover {
    text-decoration: underline;
}